/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* COMMON */

/* Buttons */
.btn{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    border-style: none;
    background-color: rgb(190, 190, 190);
    color: #ffff;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%) scale(1);
    bottom: 25px;
    opacity: .5;
    cursor: pointer;
}

.btn:hover{
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
}

#btn-prev{
    left: 10px;
}

#btn-next{
    right: 10px;
}

/* Layout */
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* CAROUSEL */
.wrapper-carousel{
    width: 850px;
    height: 600px;
    position: relative;

    /* DEBUG */
    border: 1px solid black;
}

/* Card List*/
.card-list{
    width: 100%;
    height: 80%;
}


/* Card Item */
.card-item{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.card-item.active{
    display: block;
}

.card-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-item .text-card{
    color: #ffff;
    text-align: right;
    font-size: 1.2rem;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

/* List Thumbnails */
.thumnails-list{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #000;
}

.thumnails-list .thumbnails-item{
    width: calc(100% / 5);
    height: 100%;
    opacity: .5;
}

.thumbnails-item.active{
    opacity: 1;
    border: 1px solid #fff;
}

.thumbnails-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

